<button
  type="button"
  id="modal-button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#myModal"
>
  Latest Events
</button>

<div id="myModal" class="modal fade" role="dialog">
   
  <div class="modal-dialog">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>