 

<body>
    <h1>Express Interest</h1>
    <form action='/events/expressInterest/<%= eventId %>' method="post">
        <label for="userName">Enter Your Name:</label>
        <input type="text" id="userName" name="userName" required>
        <button type="submit">Express Interest</button>
    </form>
</body>

