<section id = "about">
    <div id = "ctitle">
        Corporate and Foundation Relations
        <hr>
    </div>

    <div>
        The Office of Corporate and Foundation Relations (CFR) raises funds from and builds partnerships with private organizations (foundations, corporations, 
        public charities and other organizations) to advance Brandeis’ research, education and social-improvement missions.
    </div>

    <img src = "/images/chat.jpg" alt = "Brandeis Logo"/></a>
</section>