<section id = "jobs">
    <div id = "jTitle">
        Contact Us
    </div>
    <hr>

    <div id = "location">
        Office Location
    </div>
    <br>
    <div>
        Our growing team is located in a modern office building across from the Brandeis/Roberts commuter-rail stop 
        next to campus. Building amenities include an on-site café with healthy food options, a fitness center, 
        state-of-the-art meeting spaces, and ample parking. The office space was designed to facilitate collaboration, 
        inspiration, and well-being.
    </div>
    <br>

    <div id = "mailing">
        Mailing Address
    </div>

    <div id = "address">
        <br>
        Brandeis University<br>
        Institutional Advancement Division<br>
        415 South Street, MS 126<br>
        Waltham, MA 02453
    </div>
    <br>
    <img src = "/images/brandeis.webp" alt = "brandeis"/></a>
    <br><br>
</section>