<link rel="stylesheet" href="/css/style.css" type="text/css" />
<section class = "titles">
    <p class = "proud">
        We Are Proud
    </p>

    <p class = "sub">
        Student & Alumni of
    </p>

    <p class = "main">
        The Brandeis Students and Alumni Association is a vibrant community that offers
        lifelong opportunities for students and alumni to stay connected to Brandeis and
        each other.
    </p>

</section>

<section class = "home">
    <div id = "catch">
        catch up    
    </div>             
    <table>
        <td>
            <img src = "/images/award.jpeg" alt = "Brandeis Logo"/></a>
        </td>
        <td class = "homeContent">
            <p id = "people">
                Two Decorated Brandeis Faculty Awarded <br>National Medal of Science by President Biden
            </p>

            <p>
                Pioneering neuroscientist Eve Marder ’69 and Professor of Biochemistry and Chemistry Emeritus 
                Greg Petsko have each received the National Medal of Science, 
                the highest recognition the nation bestows on scientists and engineers.
            </p>
        </td>
    </table>

    <div class = "quote">
        <p>
            "A young institution, boldly conceived, Brandeis is intent on carrying on the great traditions of 
            learning at the highest levels of rigor and meaning, with a historic commitment to openness and justice."
        </p>
        <p class = "name">
            Brandeis University President Ron Liebowitz
        </p>
    </div>

</section>