<div class="data-form">
    <form action="/jobs/create" method="POST">
      <br><br>
      <h2 class = "newHead">Create a new Job:</h2>
      <label for="inputTitle">Title</label>
      <input
        type="text"
        name="title"
        id="inputTitle"
        placeholder="Title"
        autofocus
      />
      <label for="inputCompany">Company</label>
      <input
        type="text"
        name="company"
        id="inputCompany"
        placeholder="Company"
        required
      />
      <label for="inputLocation">Location</label>
      <input
        type="text"
        name="location"
        id="inputLocation"
        placeholder="Location"
        required
      />
      <label for="inputDescription">Description</label>
      <input
        type="text"
        name="description"
        id="inputdescription"
        placeholder="description"
        required
      />
      <label for="inputRequirement">Requirement</label>
      <input
        type="text"
        name="requirement"
        id="inputRequirement"
        placeholder="requirement"
        required
      />
      <label for="inputSalary">Salary</label>
      <input
        type="number"
        name="salary"
        id="inputSalary"
        placeholder="Salary"
        required
      />
      <label for="inputContactEmail">ContactEmail</label>
      <input
        type="text"
        name="contactEmail"
        id="inputContactEmail"
        placeholder="contactEmail"
        required
      />
      <label for="inputContactPhone">ContactPhone</label>
      <input
        type="text"
        name="contactPhone"
        id="inputContactPhone"
        placeholder="ContactPhone"
      />
      <label for="inputPostDate">PostDate</label>
      <input
        type="Date"
        name="postDate"
        id="inputPostDate"
        placeholder="PostDate"
      />
      <label for="deadlineDate">DeadlineDate</label>
      <input
        type="Date"
        name="deadlineDate"
        id="inputDeadlineDate"
        placeholder="deadlineDate"
      />
      <label for="inputIsActive">isActive</label>
      <input
        type="Boolean"
        name="isActive"
        id="inputIsActive"
        placeholder="IsActive"
      />
      
      
      
      <button type="submit">Sign in</button>
    </form>
  </div>
  