<form action="/users/login" method="POST">
    <br><br>
    <h2>Login:</h2>
    <label for="inputEmail">Email address</label>
    <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>
    <button type="submit">Login</button>
    <button id="signupButton">Sign Up</button>
</form>

  


  <script>
    document.getElementById('signupButton').addEventListener('click', function() {
      // Redirect to the "users/new" view
      window.location.href = "/users/new";
    });
  </script>